* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
  border: 2px solid black;
}
.card {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
